@import './scss/navbar';
@import './scss/recipe';
@import './scss/searchResults';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(to right bottom, #FFEDBC, #ED4264);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 150rem;
  min-height: 100%;
  margin: 4vw auto;
  background-color: #f8f8f8;
  box-shadow: 0 2rem 3rem 0.5rem rgba(97,85,81,.2);
  border-radius: 1rem;

  &__content {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}